* {
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(to bottom,#2F9292 0%, #99ffcc 115%);
  color:white;
  font-family: helvetica;
  margin:0;
  height: 100%;
}

/*Hexagon*/
#navigator {
  background-color: #0E6E8C;
  color: white;
  display: block;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  padding:0;
  padding-bottom: 0.3em;
}

#desplegable {
  font-family: helvetica;
}

ul, ol {
 list-style: none;
}

.nav li a {
  background-color: #0E6E8C;
  color: white;
  font-family: helvetica;
  font-size: 15px;
  text-decoration: none;
  padding: 12.5px 14px;
  display: block;
  width: 60px;
}

.nav li ul {
  display: none;
}

.nav li:hover > ul {
  display:block;
}

.nav li a:hover {
background: #1b83a3;
}

.nav > li {
  float: left;
}

.nav-button {
  background-color: #2F9292;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 2px;
  padding: 9px 12px;
  cursor:pointer;
}

.nav-button:hover {
  background-color: #5cb5af;
  color:#fcefbf;
}

#main-logo {
  text-decoration: none;
  position: relative;
  left:40%;
  cursor:pointer;
}

#main-logo:visited {
  color:white;
}

#main-logo:hover {
  color:#fcefbf;
}

.right-menu {
  position: relative;
  left: 80%;
}

#function-header {
  background-color: #5cb5af;
  display:block;
  font-family: helvetica;
  margin: 2em;
  padding:10px 10px;
  color: #0E6E8C;
  border-radius: 4px;
}

.share-link {
  border-radius: 4px;
  color: #55757f;
  padding: 0px 10px;
  background-color:  #5cb5af;
  border:none;
}

.function-button {
  background-color: #0E6E8C;
  border-radius: 4px;
  border:none;
  padding: 4px 8px;
  color: white;
}

.function-button:hover {
  background-color: #1b83a3;
}

#firebase {
  display:block;
  border-radius: 4px;
  border:none;
  padding: 15px 38px;
  padding-bottom: 0px;
}

#idea-input {
  border-radius: 4px;
  color: #55757f;
  padding: 0px 10px;
  border:none;
  padding: 4px 8px;
}

#function-section {
  display:block;
  font-family: helvetica;
  margin: 2em;
  padding:10px 10px;
  border-radius: 4px;
}

#interactive-list{
  background-color: #f7e896;
  margin: 2em;
  color: #0E6E8C;
  padding:10px 10px;
  border-radius: 4px;
  display:

}
